In [18]:
from pymongo import MongoClient
from dotenv import load_dotenv
import pickle
import pandas as pd
import os
from urllib.parse import urlencode, urlparse, parse_qsl
import requests

# Now we are going to place this into a Pandas DataFrame

In [3]:
# This is our database connection
client = MongoClient("mongodb://localhost")
db = client.get_database("celiacdb")

In [4]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'celiacdb')

------

# *We have pickled our data and will import it here*

In [19]:
# This was the original API request we made
pickle_in = open("/Users/claytonlouden/projects/final_project/pickled/goog_gf.pickle","rb")
goog_info = pickle.load(pickle_in)

In [20]:
len(goog_info)

20

In [21]:
# These are the results from findmeglutenfree.com and happyceliac.com 
pickle_in = open("/Users/claytonlouden/projects/final_project/pickled/info_list.pickle","rb")
first_info = pickle.load(pickle_in)

In [22]:
len(first_info)

50

In [23]:
# These are the results from viajarsingluten.com
pickle_in = open("/Users/claytonlouden/projects/final_project/pickled/second_info_list.pickle","rb")
second_info = pickle.load(pickle_in)

In [24]:
len(second_info)

244

------

### *There's a little more clean up we need to do*

In [25]:
# Looking for number of key:value pairs by looking at length
# We also have observed that we need to flatten first_info and second_info
for pl in second_info[:5]:
    for p in pl['candidates']:
        print(len(p))

13
13
12
13
12

In [26]:
# We are going to put the contents into a dummy variable so that we can put them back into the original variable
second = second_info

In [27]:
# This is a single key:value pair. We only want to extract the value from the key "candidates"
second[0]

{'candidates': [{'business_status': 'OPERATIONAL',
   'formatted_address': 'Paseo de la Castellana, 274, 28046 Madrid, España',
   'geometry': {'location': {'lat': 40.4744207, 'lng': -3.6865291},
    'viewport': {'northeast': {'lat': 40.47578362989272,
      'lng': -3.685283720107278},
     'southwest': {'lat': 40.47308397010728, 'lng': -3.687983379892722}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/restaurant-71.png',
   'name': 'Rodilla',
   'opening_hours': {'open_now': False},
   'photos': [{'height': 1000,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/106284143847101574674">Rodilla Mybusiness</a>'],
     'photo_reference': 'ATtYBwLRZtlO3UXJDTf1xG0_IxZv1KVpip56ymPUiVu4A-ABlhbZqweZY0VyPoyipVL4qWtedfMcz4NV73P0lajyDZjohcbE6f4d9i6LTFcNPOlDidLyeqPh7LeYPBkmIM8Ih5poYQXfpuFFMUSJRaxJjxsfqi150Uj_zbUImPdm83d5xbXY',
     'width': 1000}],
   'place_id': 'ChIJndExtRQpQg0R2qNbkwOjV3M',
   'plus_code': {'compound_code': 'F8F7+Q9 Madrid',
    'global_code': '8CGRF8F7+Q9'},
   'price_level': 1,
   'rating': 3.7,
   'types': ['restaurant',
    'food',
    'point_of_interest',
    'store',
    'establishment'],
   'user_ratings_total': 536}],
 'status': 'OK'}

In [28]:
# We empty the orginial variable and it is ready to be filled with the dictionaries
second_info = []

In [29]:
# Now this is going to append the list in the original variable with just what we need
for pl in second:
    for p in pl['candidates']:
        second_info.append(p)

In [30]:
# Perfect
second_info[0]

{'business_status': 'OPERATIONAL',
 'formatted_address': 'Paseo de la Castellana, 274, 28046 Madrid, España',
 'geometry': {'location': {'lat': 40.4744207, 'lng': -3.6865291},
  'viewport': {'northeast': {'lat': 40.47578362989272,
    'lng': -3.685283720107278},
   'southwest': {'lat': 40.47308397010728, 'lng': -3.687983379892722}}},
 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/restaurant-71.png',
 'name': 'Rodilla',
 'opening_hours': {'open_now': False},
 'photos': [{'height': 1000,
   'html_attributions': ['<a href="https://maps.google.com/maps/contrib/106284143847101574674">Rodilla Mybusiness</a>'],
   'photo_reference': 'ATtYBwLRZtlO3UXJDTf1xG0_IxZv1KVpip56ymPUiVu4A-ABlhbZqweZY0VyPoyipVL4qWtedfMcz4NV73P0lajyDZjohcbE6f4d9i6LTFcNPOlDidLyeqPh7LeYPBkmIM8Ih5poYQXfpuFFMUSJRaxJjxsfqi150Uj_zbUImPdm83d5xbXY',
   'width': 1000}],
 'place_id': 'ChIJndExtRQpQg0R2qNbkwOjV3M',
 'plus_code': {'compound_code': 'F8F7+Q9 Madrid',
  'global_code': '8CGRF8F7+Q9'},
 'price_level': 1,
 'rating': 3.7,
 'types': ['restaurant',
  'food',
  'point_of_interest',
  'store',
  'establishment'],
 'user_ratings_total': 536}

In [31]:
first_info[0]

{'candidates': [{'business_status': 'OPERATIONAL',
   'formatted_address': 'Calle de San Germán, 5, 28020 Madrid, España',
   'geometry': {'location': {'lat': 40.4560497, 'lng': -3.6928645},
    'viewport': {'northeast': {'lat': 40.45751822989272,
      'lng': -3.691506020107278},
     'southwest': {'lat': 40.45481857010728, 'lng': -3.694205679892721}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/restaurant-71.png',
   'name': 'New York Burger - San Germán',
   'opening_hours': {'open_now': False},
   'photos': [{'height': 676,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/111501988484506431367">A Google User</a>'],
     'photo_reference': 'ATtYBwJ0UKXI_0ZkP9zyKFluukGy1mkhlF_3bwo6wGh9_mKZxayxQO3Atgcw36Ez6wI4fLf4gjrawD7UuIB6SCybpw5kTQnRKsXMx8bYJpDgEdv7ayrvS0eu9bYL5bq1LgN8dp0MfY0Vvv-tbjSYFoXuwmWgZmHIeLM5CAHP_qTZKOUKnQgO',
     'width': 1014}],
   'place_id': 'ChIJzXH90wIpQg0Rn7mJGoLe-Pw',
   'plus_code': {'compound_code': 'F844+CV Madrid',
    'global_code': '8CGRF844+CV'},
   'price_level': 2,
   'rating': 4.3,
   'types': ['restaurant', 'food', 'point_of_interest', 'establishment'],
   'user_ratings_total': 2272}],
 'status': 'OK'}

In [32]:
goog_info[8]

{'business_status': 'OPERATIONAL',
 'geometry': {'location': {'lat': 40.3944816, 'lng': -3.6510818},
  'viewport': {'northeast': {'lat': 40.39580232989272,
    'lng': -3.649661270107278},
   'southwest': {'lat': 40.39310267010728, 'lng': -3.652360929892722}}},
 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/restaurant-71.png',
 'name': 'Celilocos',
 'opening_hours': {'open_now': False},
 'photos': [{'height': 3096,
   'html_attributions': ['<a href="https://maps.google.com/maps/contrib/111055793742267190108">Gustavo Martínez</a>'],
   'photo_reference': 'ATtYBwJLNgjUU6iyGx_5fKoo9HbSSGIj67hjrBM1wJkSGQew7e_vd4CjYmDxEEDYVxzrwT-cYTCWOJJRcaw6aV2uWnEnarF7zAlGYrrTTz-QRIHbty4ncOnqXhTWHjugit6RQ9rS_DrsYzVJWsA-sTNMF2OxCZx-3TRJwAHyq9q_N-3Hxzzc',
   'width': 4128}],
 'place_id': 'ChIJsQylGeglQg0R5n2B4pQo0RM',
 'plus_code': {'compound_code': '98VX+QH Madrid',
  'global_code': '8CGR98VX+QH'},
 'price_level': 1,
 'rating': 4.7,
 'reference': 'ChIJsQylGeglQg0R5n2B4pQo0RM',
 'scope': 'GOOGLE',
 'types': ['restaurant', 'food', 'point_of_interest', 'establishment'],
 'user_ratings_total': 266,
 'vicinity': 'Calle de Carlos Sole, 6, Madrid'}

In [33]:
first = first_info

In [34]:
first_info = []

In [35]:
for pl in first:
    for p in pl['candidates']:
        first_info.append(p)

In [36]:
# perfect here too
first_info[6]

{'business_status': 'OPERATIONAL',
 'formatted_address': 'Av. de Machupichu, 16, 28043 Madrid, España',
 'geometry': {'location': {'lat': 40.4576184, 'lng': -3.6244434},
  'viewport': {'northeast': {'lat': 40.45891672989272,
    'lng': -3.623202020107278},
   'southwest': {'lat': 40.45621707010728, 'lng': -3.625901679892721}}},
 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/restaurant-71.png',
 'name': 'Restaurante lapizza+sana',
 'opening_hours': {'open_now': False},
 'photos': [{'height': 956,
   'html_attributions': ['<a href="https://maps.google.com/maps/contrib/114568030837330577368">A Google User</a>'],
   'photo_reference': 'ATtYBwJDdX67hPxKnqZLWc2w92JIO6QYQEP8ESIXnE6VSXO-gU_4VZymWj44I7h-t_vy8hlyNHaP1PMs8MOzBPSzXcbPADvWq_vZO4D4K5pWRWmwIld0gNzWYOk7mxhpN180PGStPRkO6lTOgks2VFb0ScXMNkUGHIirzqqVbVwi1mf7Hx8s',
   'width': 1276}],
 'place_id': 'ChIJgSTLS_4uQg0RAxTNQPdr5Ao',
 'plus_code': {'compound_code': 'F95G+26 Madrid',
  'global_code': '8CGRF95G+26'},
 'price_level': 2,
 'rating': 4.4,
 'types': ['restaurant', 'food', 'point_of_interest', 'establishment'],
 'user_ratings_total': 657}

In [37]:
load_dotenv()

True

In [303]:
g_key = os.getenv("GOOGLE_KEY2")

In [322]:
endpoint = "https://maps.googleapis.com/maps/api/place/photo"
params = {
    
    "photoreference" : "ATtYBwJDdX67hPxKnqZLWc2w92JIO6QYQEP8ESIXnE6VSXO-gU_4VZymWj44I7h-t_vy8hlyNHaP1PMs8MOzBPSzXcbPADvWq_vZO4D4K5pWRWmwIld0gNzWYOk7mxhpN180PGStPRkO6lTOgks2VFb0ScXMNkUGHIirzqqVbVwi1mf7Hx8s",
    "maxwidth" : "400",
    "maxheight" : "600",
    "key" : f"{g_key}"
}
url_params = urlencode(params)
url = f"{endpoint}?{url_params}"
data = requests.get(url)

In [323]:
data

### *We are going to make all the dictionaries contain the same keys*

In [21]:
first_info[0].keys() == second_info[0].keys() == goog_info[0].keys()

False

In [22]:
all_data = goog_info + first_info + second_info

In [23]:
len(all_data)

328

In [148]:
all_data[150]

{'business_status': 'OPERATIONAL',
 'formatted_address': 'Pje. Canal de Suez, 28042 Madrid, España',
 'geometry': {'location': {'lat': 40.472772, 'lng': -3.579572},
  'viewport': {'northeast': {'lat': 40.47413352989271,
    'lng': -3.578254570107277},
   'southwest': {'lat': 40.47143387010727, 'lng': -3.580954229892722}}},
 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/restaurant-71.png',
 'name': 'Telepizza - Comida a domilio',
 'opening_hours': {'open_now': False},
 'photos': [{'height': 835,
   'html_attributions': ['<a href="https://maps.google.com/maps/contrib/110710111564019486686">Telepizza</a>'],
   'photo_reference': 'ATtYBwK4ihiAOvtcPQnQTHTAD-nZlc4rwPprnqVLXBom7WH8vu1moxwjFb0AwPGP4vJ0FoPuQU5hGvpdOtr94Dd_nA0Vo3LtVewXr6P-0w_9_mQKaRjH_jJ4eghpJviWeiuGgga_CdxCihOZYytCiFSzkAe8lL74FCljimvI4m93apEI7D0l',
   'width': 1422}],
 'place_id': 'ChIJxUJYMd8xQg0RbFs2wlDdhEU',
 'plus_code': {'compound_code': 'FCFC+45 Madrid',
  'global_code': '8CGRFCFC+45'},
 'price_level': 1,
 'rating': 3.1,
 'types': ['meal_delivery',
  'restaurant',
  'food',
  'point_of_interest',
  'establishment'],
 'user_ratings_total': 339,
 'vicinity': 'Unknown'}

In [25]:
all_data[0]["photos"][0]['photo_reference']

'ATtYBwIsfqa-oYr2g4DOfQ8vz8feUq0t5pZZ6JmgeQov7iuoQ27VrTnjmmzn3nS1IGd87wjWnxtaBlfFuLFQSfmYefgRUzrs9M5uc70E-6jht2Aj1sjRvcJ5ZfOVRlzCccxMBJdr5UQZ8ca0o8_IRV5jIeEkvJurRnHiPhHLODdgXCFrxFk4'

In [26]:
needed_info = ["geometry","name","place_id","price_level","rating","types","user_ratings_total","vicinity",'photos']

In [27]:
all_data_same_keys = []

In [28]:
for tienda in all_data:
    temp_dict = {}
    for y in needed_info:
        if y not in list(tienda.keys()):
            tienda[y] = "Unknown"
        if y == "geometry":
            temp_dict[y]= tuple(tienda[y]["location"].values())
        
        else:
            temp_dict[y] = tienda[y]
        
    all_data_same_keys.append(temp_dict)

In [29]:
len(all_data_same_keys)

328

In [31]:
all_data_same_keys[0]

{'geometry': (40.4340759, -3.7085295),
 'name': 'Kint',
 'place_id': 'ChIJS1Nr5l0oQg0RuXCYXOa0yFc',
 'price_level': 'Unknown',
 'rating': 4.2,
 'types': ['restaurant', 'food', 'point_of_interest', 'establishment'],
 'user_ratings_total': 112,
 'vicinity': 'Calle de Vallehermoso, 36, Madrid',
 'photos': [{'height': 4608,
   'html_attributions': ['<a href="https://maps.google.com/maps/contrib/108913216153539893740">Laura Garmo</a>'],
   'photo_reference': 'ATtYBwIsfqa-oYr2g4DOfQ8vz8feUq0t5pZZ6JmgeQov7iuoQ27VrTnjmmzn3nS1IGd87wjWnxtaBlfFuLFQSfmYefgRUzrs9M5uc70E-6jht2Aj1sjRvcJ5ZfOVRlzCccxMBJdr5UQZ8ca0o8_IRV5jIeEkvJurRnHiPhHLODdgXCFrxFk4',
   'width': 3456}]}

In [32]:
for tienda in all_data_same_keys:
    try:
        tienda["photos"] = tienda["photos"][0]["photo_reference"]
    except:
        print(tienda["photos"])

Unknown
Unknown
Unknown
Unknown

In [33]:
all_data_same_keys[0]

{'geometry': (40.4340759, -3.7085295),
 'name': 'Kint',
 'place_id': 'ChIJS1Nr5l0oQg0RuXCYXOa0yFc',
 'price_level': 'Unknown',
 'rating': 4.2,
 'types': ['restaurant', 'food', 'point_of_interest', 'establishment'],
 'user_ratings_total': 112,
 'vicinity': 'Calle de Vallehermoso, 36, Madrid',
 'photos': 'ATtYBwIsfqa-oYr2g4DOfQ8vz8feUq0t5pZZ6JmgeQov7iuoQ27VrTnjmmzn3nS1IGd87wjWnxtaBlfFuLFQSfmYefgRUzrs9M5uc70E-6jht2Aj1sjRvcJ5ZfOVRlzCccxMBJdr5UQZ8ca0o8_IRV5jIeEkvJurRnHiPhHLODdgXCFrxFk4'}

### *We have to clean the `types` category*

In [34]:
# We will only label restaruant, bakery, bar, cafe, store, supermarket, or locale

In [35]:
for d in all_data_same_keys:
    if "bakery" in d["types"] and "restaurant" in d["types"]:
        d["types"] = "restaurant/bakery"
    elif "bakery" in d["types"]:
        d["types"] = "bakery"
    elif "restaurant" in d["types"]:        
        d["types"] = "restaurant"
    elif "cafe" in d["types"]:
        d["types"] = "cafe"
    elif "store" in d["types"]:
        d["types"] = "store"
    elif "supermarket" in d["types"]:
        d["types"] = "supermarket"
    elif "lodging" in d["types"]:
        d["types"] = "locale"
    else:
        d["types"] = "locale"

### *Now we can get back to creating our DataFrame*

In [17]:
all_data_same_keys[0]

NameError: name 'all_data_same_keys' is not defined

In [43]:
df = pd.DataFrame(data=all_data_same_keys)

In [70]:
df.head()

,name,rating,user_ratings_total,price_level,types,vicinity,geometry,place_id,photos
0,Kint,4.2,112,Unknown,restaurant,"Calle de Vallehermoso, 36, Madrid","(40.4340759, -3.7085295)",ChIJS1Nr5l0oQg0RuXCYXOa0yFc,ATtYBwIsfqa-oYr2g4DOfQ8vz8feUq0t5pZZ6JmgeQov7i...
1,CELICIOSO Gluten Free Bakery,4.2,1152,Unknown,bakery,"Calle de Hortaleza, 3, Madrid","(40.420441, -3.701066)",ChIJ5baGCIcoQg0RksMlNKe6qO8,ATtYBwJo5MrAPHOZvZi7fFKPBqtMGjgzWe6jf0aoQ4GBNO...
2,[0% Gluten] Madrid,4.6,108,Unknown,restaurant/bakery,"Calle de Vallehermoso, 33, Madrid","(40.4331079, -3.7088897)",ChIJB0yQ9XcpQg0R9Je9XUIpVwY,ATtYBwKoeVDdxQhyt7tnlikHlMpNl87XFReh4tCONwC40-...
3,As De Bastos Madrid,4.3,568,2,restaurant,"Calle de Castilla, 62, Madrid","(40.453162, -3.7079958)",ChIJdUnxVVMoQg0RNPU8dv_jxcs,ATtYBwL5bG87doPI7tYpGNF7Wba8v9-tR7UIExfnhEtm5-...
4,Sana Locura Gluten Free Bakery,4.4,949,Unknown,bakery,"Calle del Gral Oraá, 49, Madrid","(40.4360652, -3.6801016)",ChIJZwcvVsAoQg0REM51rwkH0TM,ATtYBwIiEgw_OlVIPlDVakTKG3pfkCuMdVEafiPrzj96Qp...

In [54]:
df.place_id.value_counts().head()

ChIJS1Nr5l0oQg0RuXCYXOa0yFc    4
ChIJeTj6uWQoQg0RxTrKSleUhy0    4
ChIJVzV7bogoQg0R0KlyHbgIVCo    3
ChIJZwcvVsAoQg0REM51rwkH0TM    3
ChIJzXH90wIpQg0Rn7mJGoLe-Pw    3
Name: place_id, dtype: int64

In [63]:
df.drop_duplicates(subset=["place_id"],ignore_index=True,inplace=True)

In [64]:
df.place_id.value_counts().head()

ChIJT-wbkhAvQg0RZZINWMG9tsY    1
ChIJKTA6gmUoQg0R4yQo6VrLVV0    1
ChIJRcIICPsoQg0R8AKkEOjEumo    1
ChIJH55s00MoQg0R1uvmdcBrthw    1
ChIJw3P0hPYnQg0RCQp9gmZD41U    1
Name: place_id, dtype: int64

In [67]:
df.columns

Index(['geometry', 'name', 'place_id', 'price_level', 'rating', 'types',
       'user_ratings_total', 'vicinity', 'photos'],
      dtype='object')

In [68]:
df = df[['name','rating','user_ratings_total','price_level','types','vicinity','geometry','place_id',
       'photos']]

In [80]:
df.name.value_counts().head()

VIPS                              35
Rodilla                           34
Ginos                             23
McDonald's                        23
Telepizza - Comida a domicilio    21
Name: name, dtype: int64

In [82]:
chains = ["VIPS","Rodilla", "Ginos", "McDonald's", "Telepizza - Comida a domicilio", "Telepizza", "Tommy Mel's", "Fridays", "Pizza Jardín"]

In [143]:
ch = []
for n in df.name:
    if n in chains:
        ch.append("chain")
    else:
        ch.append("unique")

In [144]:
df["chain"] = ch

In [145]:
df = df[['name','rating','user_ratings_total','price_level','types','chain', 'vicinity','geometry','place_id',
       'photos']]

In [146]:
df.head(50)

,name,rating,user_ratings_total,price_level,types,chain,vicinity,geometry,place_id,photos
0,Kint,4.2,112,Unknown,restaurant,unique,"Calle de Vallehermoso, 36, Madrid","(40.4340759, -3.7085295)",ChIJS1Nr5l0oQg0RuXCYXOa0yFc,ATtYBwIsfqa-oYr2g4DOfQ8vz8feUq0t5pZZ6JmgeQov7i...
1,CELICIOSO Gluten Free Bakery,4.2,1152,Unknown,bakery,unique,"Calle de Hortaleza, 3, Madrid","(40.420441, -3.701066)",ChIJ5baGCIcoQg0RksMlNKe6qO8,ATtYBwJo5MrAPHOZvZi7fFKPBqtMGjgzWe6jf0aoQ4GBNO...
2,[0% Gluten] Madrid,4.6,108,Unknown,restaurant/bakery,unique,"Calle de Vallehermoso, 33, Madrid","(40.4331079, -3.7088897)",ChIJB0yQ9XcpQg0R9Je9XUIpVwY,ATtYBwKoeVDdxQhyt7tnlikHlMpNl87XFReh4tCONwC40-...
3,As De Bastos Madrid,4.3,568,2,restaurant,unique,"Calle de Castilla, 62, Madrid","(40.453162, -3.7079958)",ChIJdUnxVVMoQg0RNPU8dv_jxcs,ATtYBwL5bG87doPI7tYpGNF7Wba8v9-tR7UIExfnhEtm5-...
4,Sana Locura Gluten Free Bakery,4.4,949,Unknown,bakery,unique,"Calle del Gral Oraá, 49, Madrid","(40.4360652, -3.6801016)",ChIJZwcvVsAoQg0REM51rwkH0TM,ATtYBwIiEgw_OlVIPlDVakTKG3pfkCuMdVEafiPrzj96Qp...
5,Da Nicola Gran Vía,4.3,2742,2,restaurant,unique,"Plaza de los Mostenses, 11, LOCAL, Madrid","(40.4230288, -3.708687)",ChIJeTj6uWQoQg0RxTrKSleUhy0,ATtYBwJxjFXZ0GiU5d0yvdijo4oZxCGnZ6kFpPiyzGe72G...
6,Celilocos,4.7,266,1,restaurant,unique,"Calle de Carlos Sole, 6, Madrid","(40.3944816, -3.6510818)",ChIJsQylGeglQg0R5n2B4pQo0RM,ATtYBwLS1RN57XTXFEuOltwI8s_BhszKquEMu1P4s__8Rj...
7,"LaLina Bravas, Tapas y Copas",4.3,697,2,restaurant,unique,"Plaza de la Cebada, 2, Madrid","(40.4114544, -3.7089143)",ChIJwUqxbNYnQg0R6Bi3n8wsytA,ATtYBwInLRcoXfomYmOu9m64Cl1AOzwzQ6xnmyQaXl2ryZ...
8,Celicioso Retiro,3.8,329,Unknown,restaurant/bakery,unique,"Calle de O'Donnell, 4, Madrid","(40.4215592, -3.6795075)",ChIJDSNaq8gpQg0RhtCw8fO-8VQ,ATtYBwJ0xvE96nLURnQQtfjQ0d0I4PT-_h0rg7ajbNo_Jr...
9,"Restaurante Italiano ""Il Piccolino Della Farfa...",4.1,950,1,restaurant,unique,"Calle de las Huertas, 6, Madrid","(40.4140114, -3.7009911)",ChIJAyl8N4AoQg0ReRdyzJU08jo,ATtYBwIKRb5a_0fWTnCWJwUHLOGp_JjSRACbhn-RTuzGzI...
10,Restaurante Vegetariano Artemisa Sol - Gran Vía,4.4,1270,2,restaurant,unique,"Calle de las Tres Cruces, 4, Madrid","(40.4192584, -3.7028659)",ChIJC4OxX4coQg0R3bqGh0fouew,ATtYBwKwQTLPo0ukRyoGWVp9sAo3Um8C9wC4cxnKlLtcRJ...
11,Restaurante Vegetariano Artemisa Sol - Huertas,4.4,1081,2,restaurant,unique,"Calle de Ventura de la Vega, 4, Madrid","(40.4160178, -3.6989251)",ChIJq4-kc4EoQg0R7eDDJ8AH-R0,ATtYBwJyUtQSujxH9ghEdH7Hj_1qOl8UpaNvj27_JMs2ll...
12,Emma & Julia Italian Restaurant,4.2,1165,2,restaurant,unique,"Calle de la Cava Baja, 19, Madrid","(40.41252, -3.708932)",ChIJm-bNHdYnQg0RgSAiXTGLJak,ATtYBwKo80jybjL5DII2x0JFHZeqB-hPkxCr98PrQ9VyuR...
13,Rosa Negra Madrid,4.3,1344,1,restaurant,unique,"Calle del León, 16, Madrid","(40.4138325, -3.6990401)",ChIJ_5ax6YEoQg0R6cDMcYnr24w,ATtYBwIaKwvsXp5bR-2ms5ar-E6m-78w4yXdKTqOEOBUVs...
14,Komoenkasa,3,2,Unknown,restaurant,unique,"Calle de Embajadores, 41, Madrid","(40.4077339, -3.7036534)",ChIJyxohVNMnQg0RWDd_vL4FS6c,ATtYBwJ3i1C6LEgA0bFJAufSPBJ8pZ6EJx7skRdbtOquPl...
15,Celikatessen,4.5,37,Unknown,restaurant/bakery,unique,"Mercado de Pacífico (planta baja, Calle de Val...","(40.404382, -3.675598999999999)",ChIJ398NZRomQg0R4Yp3ZfEPYUs,ATtYBwK8AvsUBWS8T7YGNIXa2CBOLTlMhgK5gkBSpPFnLm...
16,Celicioso Barquillo,4.2,609,Unknown,bakery,unique,"Calle del Barquillo, 19, Madrid","(40.422141, -3.695701)",ChIJd3mcmIUoQg0RMNJx6bg0G_w,ATtYBwKP5h5sXpaGatY0OqTLEvmP3D3f19-EFG-PwIBi7T...
17,Panadería Gluten Free,4.8,4,Unknown,cafe,unique,"Calle del Gral Oraá, 49, Madrid","(40.4360652, -3.6801016)",ChIJZwcvVsAoQg0RbFhDRSQFREs,ATtYBwJKQippjB5RnbudoFuGntp_gajwnnoiGIpVokblcT...
18,Restaurante La Jauría,3.9,899,2,restaurant,unique,"Calle de Colón, 10, Madrid","(40.4238805, -3.7011607)",ChIJVzV7bogoQg0R0KlyHbgIVCo,ATtYBwK_9EoBNZJnNVljeKVmbmDqI_1QkcHQHiF26jtN0y...
19,Oliveto,4.6,542,2,restaurant,unique,"Calle de Santa Isabel, 45, Madrid","(40.4097901, -3.6964677)",ChIJP3fGEikmQg0Ry4WDlLBZqOo,ATtYBwIuLRwuo4T5blGL2sAFtowv9-BFEARwqeT16JRj_2...
20,New York Burger - San Germán,4.3,2272,2,restaurant,unique,Unknown,"(40.4560497, -3.6928645)",ChIJzXH90wIpQg0Rn7mJGoLe-Pw,ATtYBwJ0UKXI_0ZkP9zyKFluukGy1mkhlF_3bwo6wGh9_m...
21,Alfredo's Barbacoa Juan Hurtado,4.4,3597,Unknown,restaurant,unique,Unknown,"(40.4605736, -3.6872011)",ChIJ9RC9YBkpQg0RPL1JhDKMkzc,ATtYBwIkE_4i4VI7ALkmPomXOhNgvhV-YHOTa2YHd8Vbrg...
22,Flavia Madrid,4.3,1174,2,restaurant,unique,Unknown,"(40.422401, -3.6896)",ChIJI0gpZpooQg0R79spvYzp_q4,ATtYBwKVN2fjCwFLgXH-iAJI9SaWEPagkIdxA5X7g-Q6j7...
23,Restaurante El Senador,4.5,598,3,restaurant,unique,Unknown,"(40.42060480000001, -3.711468)",ChIJy0Hh83ooQg0R51xynRVNQqI,ATtYBwK7fUT5sW5BMfANaN-YkeRjXp20lDAncCR2Vj0xWd...
24,Restaurante lapizza+sana,4.4,657,2,restaurant,unique,Unknown,"(40.4576184, -3.6244434)",ChIJgSTLS_4uQg0RAxTNQPdr5Ao,ATtYBwJDdX67hPxKnqZLWc2w92JIO6QYQEP8ESIXnE6VSX...
25,Pastelería La Oriental Sin gluten,4,115,Unknown,bakery,unique,Unknown,"(40.429531, -3.720771)",ChIJZ4t4Y6UpQg0Rej24KrQ8Ehw,ATtYBwIRCv-bYTo9wDhgg0OJmsMCmNUUI7uE2lJnkIq66i...
26,Taberna La Concha,4.5,1263,2,restaurant,unique,Unknown,"(40.4131907, -3.7083581)",ChIJvdlhrngoQg0RFmx7kraNRUg,ATtYBwIiIQSKeJUseTiCgIUv2jMToIpBT43ZT5ceyk5CXp...
27,Maestro Churrero,3.7,2158,1,store,unique,Unknown,"(40.4141747, -3.7032202)",ChIJm3Lux38oQg0Rnjz3ETM-EpI,ATtYBwI4YssIpqIiEgHvqNX4D2aMkWCmZikGww5Ix7bgak...
28,EL ANCIANO REY DE LOS VINOS S.L.,4.2,1115,2,restaurant,unique,Unknown,"(40.41544409999999, -3.7133132)",ChIJnbhUeXcoQg0Rj7gl-m7dgjM,ATtYBwL1uEWMms3bqhjiTUaB1jdg9I1DH3giGU_Cgj23xe...
29,Rodilla,4.1,2824,1,restaurant,chain,Unknown,"(40.417296, -3.702825)",ChIJjfz9poAoQg0RgTLNvTU9olc,ATtYBwKjCq9xRnfnij2a2M10FqOcEQ-LMHAuOvS_tmzMvm...
30,Solo de Croquetas,4.2,681,Unknown,restaurant,unique,Unknown,"(40.4160129, -3.6995733)",ChIJM8jeeespQg0RPBIKiF2kKns,ATtYBwKFiN0WPSoKYzTRZj53nWg5wQbgaXec8xq4qaYIPL...
31,El Arrozal,4.3,324,2,restaurant,unique,Unknown,"(40.4135178, -3.7111674)",ChIJdVjzY3goQg0RFBPZyhjbnKw,ATtYBwJy98UNyFrAO_N-4AHKMHCma-yqgirAGyHBckIb3l...
32,La Mordida Bernabeu,4.3,1678,2,restaurant,unique,Unknown,"(40.4540534, -3.6930929)",ChIJ-Y-bqgIpQg0R4UwoHw_QCi0,ATtYBwK-eUOyw6j7iDhVaZU6A_Gs7XFyftaBZzju8GzyFx...
33,Mercado de la Reina,4.2,4077,2,restaurant,unique,Unknown,"(40.419629, -3.6987696)",ChIJw2EHlYYoQg0RsGZYTq6Vc6Q,ATtYBwJU_rM4vEMIkJpsGnb7Z0sED4vPtZLw59u7NGVtgK...
34,LAIB Madrid,5,74,Unknown,bakery,unique,Unknown,"(40.40719, -3.67994)",ChIJ_VKJCj0nQg0RNIKr5Fu67HA,ATtYBwKC8l-n2d8cNCHzleXt_BKky9SB-TD5FLgM2zQcwA...
35,Murillo Café,3.9,653,2,restaurant,unique,Unknown,"(40.4130594, -3.6913271)",ChIJkcqmiycmQg0RwQKzf_Sz6SE,ATtYBwLKZ6WQdv8sDDk-g6eqjyxN6hHMI2oEXruaaUIt3q...
36,Supermercado El Corte Inglés,4.2,14152,Unknown,store,unique,Unknown,"(40.4174416, -3.7047038)",ChIJ-SWac34oQg0RC-LaRRT6o-w,ATtYBwKx4gPGSL_8dZOsZjqSd3olp5jii37-QGL7uzRLBX...
37,Okashi Sanda,4.5,1191,2,restaurant,unique,Unknown,"(40.42575009999999, -3.7032679)",ChIJ4-PMfWIoQg0RifHmlV7q74g,ATtYBwIQCqz7MVdpA0vTFmXwE2LWM96R5RjSZFtDy-Q1z9...
38,CafeeKe Cervezas y Tapas de Bélgica,3.9,451,Unknown,restaurant,unique,Unknown,"(40.414721, -3.707978)",ChIJheFZ8zApQg0R5xl2C-ChRTo,ATtYBwK4G32VBmw5jIQH8Vn7YT1SaiiUe5vL1NXoNcS7mC...
39,Celicioso Callao,4,434,2,cafe,unique,Unknown,"(40.4195161, -3.7049295)",ChIJZUjSsH0oQg0R2IdRSVs00go,ATtYBwJT_zkmoZJob7Fb6tFNDUyK16TXGzLJ9DoaZ5verV...
40,Bico de Xeado,4.7,151,1,store,unique,Unknown,"(40.4158441, -3.7070647)",ChIJzVgocv4pQg0RfEEphEthGEU,ATtYBwLYPHgbWTURZ24qMubjGPxq7jCiKnvawZ8JyxCMbj...
41,El Antiguo tapeo café y algo más,4.4,162,1,restaurant,unique,Unknown,"(40.2319761, -3.9857806)",ChIJVcAZFBXtQQ0RmCWTTAJkjWs,ATtYBwI8U2tPW8S6Eke6w85eRfmdmaDMbdMbWeqrUK2HyG...
42,Restaurante Horno de Asar Maribel,4.6,2716,2,restaurant,unique,Unknown,"(40.9484639, -4.1146083)",ChIJg7XIYd4-QQ0RjVaRTcTKS30,ATtYBwKAPC1Ryuad7uIPHwJiXdYSM2SaE0GljB5K8zlNX2...
43,Loliam Factory SL,4.6,127,Unknown,restaurant,unique,Unknown,"(40.4212387, -3.689716)",ChIJeZsEIdUpQg0RPBdIyUoOhy0,ATtYBwIGMPdefk54dHecUgBu_vrzGwLK6i9Celv8AGlHPt...
44,Méntrida,4,491,1,restaurant,unique,Unknown,"(40.4324076, -3.701479399999999)",ChIJRU6UxoooQg0RLVFkKuI4Z2s,ATtYBwJh1cOsGx-sOkg2DysHSpuwie0C6LuCRnTCnDaKmp...
45,Rodilla,3.7,536,1,restaurant,chain,Unknown,"(40.4744207, -3.6865291)",ChIJndExtRQpQg0R2qNbkwOjV3M,ATtYBwLRZtlO3UXJDTf1xG0_IxZv1KVpip56ymPUiVu4A-...
46,Restaurante Barandales,4,775,2,restaurant,unique,Unknown,"(40.4194824, -3.6754826)",ChIJI3jWL6QoQg0RCQ_YSc5RkhQ,ATtYBwIE1ZIrTO3XBPa4cv4VoVM6dN-m77SPHFHw8mEMzy...
47,Ginos,3.6,590,2,restaurant,chain,Unknown,"(40.4597422, -3.6950108)",ChIJPVoviQQpQg0RSLbcL55-480,ATtYBwLeajihaf28fXYYRGKotX1prXe1g3SaKKciHkWpKU...
48,Ginos,3.5,674,2,restaurant,chain,Unknown,"(40.4758394, -3.7198397)",ChIJI3AMTZQpQg0Rr8QYqlE77kk,ATtYBwKJk_NH79HJspom16Ydsn295qgpy0lWpWCv0mGTEs...
49,Hotel Fenix Gran Meliá,4.5,1076,Unknown,locale,unique,Unknown,"(40.4264693, -3.6892883)",ChIJ1f21G5EoQg0RKdq-mKlJf7o,ATtYBwINcXHnG8lVY_s8wn0pe8i_CJpj1uUN-wCj46xXYV...

---------

# Save `df` as `gfdf`

In [156]:
pickle_out = open("/Users/claytonlouden/projects/final_project/pickled/gfdf.pickle","wb")
pickle.dump(df, pickle_out)
pickle_out.close()